{% load static %}
<div class="col-lg-6">
    <div class="blog-post">
      <div class="blog-thumb">
        <img src="{{blog.featured.url}}" alt="">
      </div>
      <div class="down-content">
        <span>{{blog.category}}</span>
        <a href="{% url 'blog_details' blog.slug %}"><h4>{{blog.title}}</h4></a>
        <ul class="post-info">
          <li><a href="#">Admin </a></li>
          <li><a href="#">{{blog.created}}</a></li>
          <li><a href="#">12 Comments</a></li>
        </ul>
        {{blog.content|safe|truncatewords:20}}<a href="{% url 'blog_details' blog.slug %}">Read More >></a>
        <div class="post-options">
          <div class="row">
            <div class="col-lg-12">
              <ul class="post-tags">
                <li><i class="fa fa-tags"></i></li>
                <li><a href="#">Best Templates</a>,</li>
                <li><a href="#">TemplateMo</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>